<h2> These are all of your dart cases: </h2>
<% @dart_cases.each do |dart_case| %>
<h3>Case Name: <%= dart_case.name %></h3>
<br />
<table>
  <form action="/dart_cases/<%= dart_case.id %>" method="GET">
      <input style="width:135px" type="submit" value="View Case Contents">
  </form>
  <form action="/dart_cases/<%= dart_case.id %>/edit" method="GET">
      <input style="width:135px;margin-left:25px;" style="width:135px" type="submit" value="Edit Case Name">
  </form>
  <form action="/dart_cases/<%= dart_case.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE" />
    <input style="width:135px;margin-left:25px;" type="submit" value="Delete Case">
  </form>
  </table>
  <br />
  <br />
<% end %>
<p style="text-align:center;">
<a  href="/dart_cases/new">New Dart Case</a>
</p>
