

<h2>Login to Dartu!</h2>

<p style="color:red;"><%= @error_message %></p>


<form method="post" action="/login">
<label> Username: </label>
  <input style="position:absolute;left:375px;" type="text" name="username" placeholder="Username:">
  <br>
  <br>
  <label> Password: </label>
  <input style="position:absolute;left:375px;" type="password" name="password" placeholder="Password:">
<br>
<br>
  <input style="position:absolute;left:375px;width:75px;" type="submit" value="Login">
  <br />
</form>